.header {
    background-color: black;
    text-align:center;
    padding: 10px 0px;
    height:auto;
}

.logo {
    height:50px;
    width:auto;
}

.icon-menu{
    color:white;
}


body{
    font-family: 'Raleway', sans-serif;
}

div.wbar{
    height:50px;
    width:100vw;
    text-align: center;
    border-bottom:black solid 1px;


}

.wbar-text {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    vertical-align: middle;
    line-height: 50px; /* <-- this is what you must define */
    vertical-align: middle;
    font-size: 2em;
    color:black;
    letter-spacing: 1em;
}

