.header {
    background-color: black;
    text-align:center;
    padding: 10px 0px;
    height:auto;
}

.logo {
    height:50px;
    width:auto;
}

.icon-menu{
    color:white;
}


body{
    font-family: 'Raleway', sans-serif;
}

div.wbar{
    height:50px;
    width:100vw;
    text-align: center;
    border-bottom:black solid 1px;


}

.wbar-text {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    vertical-align: middle;
    line-height: 50px; /* <-- this is what you must define */
    vertical-align: middle;
    font-size: 2em;
    color:black;
    letter-spacing: 1em;
}

#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
  }
  
  #sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #CCCCCC;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
  }
  
  #page-content-wrapper {
    width: 100%;
  }
  
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @media (max-width:767px) {
    #wrapper {
      padding-left: 0;
    }
    #sidebar-wrapper {
      left: 0;
    }
    #wrapper.active {
      position: relative;
      left: 250px;
    }
    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }
  }

